@font-face {
  font-family: font-regular;
  src: url("fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: font-bold;
  src: url("fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: font-light;
  src: url("fonts/Ubuntu-Light.ttf");
}
.container {
  width: 80%;
  margin: auto;
}

.title {
  margin-block: 5rem;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 10px;
}
.title div {
  position: absolute;
  bottom: 0;
  left: 47%;
  transform: translateX(-47%);
  width: 10%;
  height: 3px;
  background-color: #D90048;
}
.title div:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 115%;
  width: 20%;
  height: 3px;
  background-color: #D90048;
}
.title div:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 150%;
  width: 5%;
  height: 3px;
  background-color: #D90048;
}

.my-section {
  margin-block: 5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: font-regular;
}

nav .nav-header {
  padding-block: 20px 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}
nav .nav-header .nav-logo {
  display: flex;
  align-items: center;
}
nav .nav-header .nav-logo .logo-text {
  margin-left: 15px;
  color: #D90048;
  font-size: 20px;
  font-family: font-bold !important;
}
nav .nav-header .nav-logo .logo-text span {
  font-family: font-bold !important;
  margin-block: 5px;
  color: #0054BE;
  font-size: 24px;
  letter-spacing: 5px;
}
nav .nav-header .nav-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
nav .nav-header .nav-contact div {
  display: flex;
  align-items: center;
  width: 100%;
}
nav .nav-header .nav-contact div i {
  color: #0054BE;
  margin-inline: 5px;
}
nav .nav-header .nav-bar {
  position: absolute;
  bottom: -35px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 80%;
  margin: auto;
  background-color: #0054BE;
  padding-block: 10px;
  border-radius: 20px;
}
nav .nav-header .nav-bar .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav .nav-header .nav-bar .nav-item ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
nav .nav-header .nav-bar .nav-item li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 35px;
  font-weight: bold;
  font-size: 19px;
  color: white;
  transition: 0.4s all ease;
  border-radius: 35px;
  cursor: pointer;
}
nav .nav-header .nav-bar .nav-item li:hover {
  background-color: white;
  color: #D90048;
}
nav .nav-header .nav-bar .nav-item li:last-child {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  color: #D90048;
  position: absolute;
  right: 40px;
}

header {
  z-index: 8;
  background-image: url("images/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 71% 100%, 0 61%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 71% 100%, 0 61%);
}
header .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(217, 0, 72, 0.6);
}
header .overlay .home-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 65px;
}
header .overlay .home-content .content .home-item span {
  font-weight: bold;
  font-size: 70px;
}
header .overlay .home-content .content button {
  padding: 10px 25px;
  border: none;
  color: white;
  border-radius: 25px;
  background-color: #0054BE;
  font-size: 26px;
  transition: 0.4s all ease;
}
header .overlay .home-content .content button:hover {
  background-color: white;
  color: #D90048;
}
header .overlay .home-content .content button i {
  padding-inline: 5px 10px;
}

.home-traingle {
  position: absolute;
  left: 0;
  top: 40%;
  height: 70%;
  width: 50%;
  background-color: #0054BE;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 48%);
          clip-path: polygon(0 0, 0% 100%, 100% 48%);
}

.about .about-content .about-history {
  width: 40%;
  margin: auto;
}
.about .about-content .about-history .history-1 {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: rgb(228, 228, 228);
  padding: 20px;
  margin-block: 50px;
  position: relative;
}
.about .about-content .about-history .history-1 .about-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-content .about-history .history-1:before {
  font-weight: bold;
  color: white;
  font-size: 22px;
  padding: 5px 10px;
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: #0054BE;
}
.about .about-content .about-history .history-1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #D90048;
  transform: translate(15px, 15px);
  z-index: -1;
}
.about .about-content .about-history .history-2 {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: rgb(228, 228, 228);
  padding: 20px;
  margin-block: 50px;
  position: relative;
}
.about .about-content .about-history .history-2 .about-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-content .about-history .history-2:before {
  font-weight: bold;
  color: white;
  font-size: 22px;
  padding: 5px 10px;
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: #0054BE;
}
.about .about-content .about-history .history-2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #D90048;
  transform: translate(15px, 15px);
  z-index: -1;
}
.about .about-content .about-history .history-3 {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: rgb(228, 228, 228);
  padding: 20px;
  margin-block: 50px;
  position: relative;
}
.about .about-content .about-history .history-3 .about-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-content .about-history .history-3:before {
  font-weight: bold;
  color: white;
  font-size: 22px;
  padding: 5px 10px;
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: #0054BE;
}
.about .about-content .about-history .history-3:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #D90048;
  transform: translate(15px, 15px);
  z-index: -1;
}
.about .about-content .about-history .history-4 {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: rgb(228, 228, 228);
  padding: 20px;
  margin-block: 50px;
  position: relative;
}
.about .about-content .about-history .history-4 .about-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-content .about-history .history-4:before {
  font-weight: bold;
  color: white;
  font-size: 22px;
  padding: 5px 10px;
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: #0054BE;
}
.about .about-content .about-history .history-4:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #D90048;
  transform: translate(15px, 15px);
  z-index: -1;
}
.about .about-content .about-history .history-1:before {
  content: "1997";
}
.about .about-content .about-history .history-2:before {
  content: "2000";
}
.about .about-content .about-history .history-3:before {
  content: "2008";
}
.about .about-content .about-history .history-4:before {
  content: "2021";
}
.about .about-content .about-achieved {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
  width: 80%;
  margin: auto;
  padding-block: 20px;
  margin-top: 80px;
  border-block: 4px solid black;
}
.about .about-content .about-achieved span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140px;
  font-weight: bold;
  color: #0054BE;
}
.about .about-content .about-achieved p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 1.5;
}

.services .services-content {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 30px;
}
.services .services-content .service-1 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
}
.services .services-content .service-1 .bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0054BE;
}
.services .services-content .service-1 .bg-icon i {
  color: white;
}
.services .services-content .service-1 .service-text {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.services .services-content .service-2 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
}
.services .services-content .service-2 .bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0054BE;
}
.services .services-content .service-2 .bg-icon i {
  color: white;
}
.services .services-content .service-2 .service-text {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.services .services-content .service-3 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
}
.services .services-content .service-3 .bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0054BE;
}
.services .services-content .service-3 .bg-icon i {
  color: white;
}
.services .services-content .service-3 .service-text {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.services .services-content .service-4 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
}
.services .services-content .service-4 .bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0054BE;
}
.services .services-content .service-4 .bg-icon i {
  color: white;
}
.services .services-content .service-4 .service-text {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.services .services-content .service-5 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
}
.services .services-content .service-5 .bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0054BE;
}
.services .services-content .service-5 .bg-icon i {
  color: white;
}
.services .services-content .service-5 .service-text {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.services .services-content .service-6 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
}
.services .services-content .service-6 .bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0054BE;
}
.services .services-content .service-6 .bg-icon i {
  color: white;
}
.services .services-content .service-6 .service-text {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.services .services-content .service-2 .bg-icon, .services .services-content .service-3 .bg-icon, .services .services-content .service-6 .bg-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #D90048;
}/*# sourceMappingURL=main.css.map */