@use 'css/colors' as *;
@use 'css/mixins' as * ;

@font-face {
    font-family: font-regular;
    src: url('fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: font-bold;
    src: url("fonts/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: font-light;
    src: url("fonts/Ubuntu-Light.ttf");
}

//// classes

.container {
    @include container(80%);
}


.title {
    margin-block:5rem;
    font-size: 30px;
    @include centering;
    position: relative;
    padding-bottom: 10px;
    div{
        position: absolute;
        bottom: 0;
        left:47%;
        transform: translateX(-47%);
        width: 10%;
        height: 3px;
        background-color: $red-color;
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left:115%;
            width: 20%;
            height: 3px;
            background-color: $red-color;
        }
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left:150%;
            width: 5%;
            height: 3px;
            background-color: $red-color;
        }
    }
}

.my-section{
    padding-block:4rem;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: font-regular;
}
nav {
    #check {
        display: none;
    }
    .checkbtn {
        display: none;
}


    .nav-header {
        padding-block: 20px 40px;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 9;
        .nav-logo{
            display: flex;
            align-items: center;

            .logo-text {
                margin-left: 15px;
                color: $red-color;
                font-size: 20px;
                font-family: font-bold !important;
                span {
                    font-family: font-bold !important;
                    margin-block: 5px;
                    color: $blue-color;
                    font-size: 24px;
                    letter-spacing: 5px;
                }
            }
        }

        .nav-contact{
            @include centering;
            flex-wrap: wrap;
            div {
                display: flex;
                align-items: center;
                width: 100%;
                i{
                    color:$blue-color;
                    margin-inline:5px
                }
            }
        }

        .nav-bar {
            position: absolute;
            bottom:-25px;
            @include inlineCenterByAbsolute;
            @include container(80%);
            background-color: $blue-color ;
            padding-block: 10px;
            border-radius: 20px;
            .nav-item {
                @include centering;
                width: 100%;
                ul {
                @include centering;
                    position: relative;
                    width: 100%;
                }
                li{
                    @include lists;
                    font-weight: bold;
                    font-size: 19px;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        color:white;
                        padding: 5px 25px;
                        transition: 0.4s all ease;
                        border-radius: 35px;
                        &:hover {
                                        @include btnHover;
                                }
                    }

                    &:last-child {
                        position: absolute;
                        right: 40px;
                        #last-child {
                            background-color: white;
                            color:$red-color;
                        }
                    }

                    
                }
            }
        }
    }


    @media (max-width:1200px) {
        .container {
            .nav-header {
                position: relative;
                .nav-bar{
                    position: absolute;
                    width: 90%;
                    .nav-item{
                        ul {
                            li {
                                width: 100%;
                                &:last-child{
                                   position: static;
                                }
                            }
                        }
                    }
                }
        }
        }
    }
    @media (max-width:992px) {
        .checkbtn {
            display: inline-block;
            position: fixed;
            right: 0%;
            top:30%;
            z-index: 9999;
            padding: 10px;
            font-size: 30px;
            color:white;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: $blue-color;  
            cursor: pointer;
        }
        .container {
            width: 80%;
            .nav-header {
                .nav-contact{
                    div {
                        justify-content: flex-end;
                    }   
                }
                .nav-bar{
                    height: 100vh;
                    position: fixed;
                    right: -100%;
                    bottom: 0;
                    background-color: $blue-color;
                    margin-right: 0;
                    .nav-item{
                        display: inline-block;
                        ul {
                            flex-wrap: wrap;
                            position: fixed;
                            right: -100%;
                            height: 100vh;
                            li {
                                width: 100%;
                                &:last-child{
                                   position: static;
                                }
                            }
                        }
                    }
                }
        }
        }
        #check:checked {
            + label {
            right:40%;
        } 
            
        ~ .container {
            .nav-header{
                .nav-bar{
                    right:0;
                    width: 40%;
                    .nav-item{
                        ul {
                            right:-30%;
                        }
                    }
                }
            }
            
        }


        
        }
    }
    @media (max-width:768px) {
        .checkbtn {
            display: inline-block;
            position: fixed;
            right: 0%;
            top:30%;
            z-index: 9999;
            padding: 10px;
            font-size: 30px;
            color:white;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: $blue-color;  
            cursor: pointer;
        }
        .container {
            width: 100%;
            .nav-header {
                .nav-contact{
                    div {
                        justify-content: flex-end;
                    }   
                }
                .nav-bar{
                    height: 100vh;
                    position: fixed;
                    right: -100%;
                    bottom: 0;
                    background-color: $blue-color;
                    margin-right: 0;
                    .nav-item{
                        display: inline-block;
                        ul {
                            flex-wrap: wrap;
                            position: fixed;
                            right: -100%;
                            height: 100vh;
                            li {
                                width: 100%;
                                &:last-child{
                                   position: static;
                                }
                            }
                        }
                    }
                }
        }
        }
        #check:checked {
            + label {
            right:40%;
        } 
            
        ~ .container {
            .nav-header{
                .nav-bar{
                    right:0;
                    width: 40%;
                    .nav-item{
                        ul {
                            right:-30%;
                        }
                    }
                }
            }
            
        }


        
        }
    }
}

header {
    z-index: 8;
    background-image: url('images/home.jpg');
    @include backgroundOptions;
    height: 90vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 71% 100%, 0 61%);
    .overlay {
        @include overlay;
        background-color: rgba($color: $red-color, $alpha: 0.6);
        
        .home-content {
            height: 100%;
            @include centering;
            text-align: center;
            color:white;
            font-size: 65px;
            .content {
                .home-item {
                    span {
                        font-weight: bold;
                        font-size: 70px;
                    }
                }

                button {
                    @include button(10px 25px,25px);
                    background-color: $blue-color;
                    font-size: 26px;
                    transition: 0.4s all ease;

                    &:hover {
                        @include btnHover;
                    }
                    i {
                        padding-inline: 5px 10px;
                    }
                }
            }
            
        }
    }

    @media (max-width:992px) {
        .overlay {
            .home-content {
                @include container(80%) ;
                font-size: 60px;
                .content {
                    .home-item {
                        span {
                            font-size: 65px;
                        }
                    }
                    button {
                        margin-top: 20px;
                        @include button(7px 20px,20px);
                        font-size: 24px;
                    }
                }
                
            }
        }
        
    }

    @media (max-width:768px) {
        .overlay {
            .home-content {
                @include container(80%) ;
                font-size: 40px;
                .content {
                    .home-item {
                        span {
                            font-size: 45px;

                        }
                    }
    
                    button {
                        margin-top: 20px;
                        @include button(7px 15px,15px);
                        background-color: $blue-color;
                        font-size: 20px;
                        transition: 0.4s all ease;
    
                        &:hover {
                            @include btnHover;
                        }
                        i {
                            padding-inline: 5px 10px;
                        }
                    }
                }
                
            }
        }
        
    }
}

.home-traingle {
    @include traingle(0, 40%, 70%, 100%);
        background-color: $blue-color;
        clip-path: polygon(0 0, 0% 100%, 100% 48%);
}

.about{
    .about-content {
        .about-history{
            width:40%;
            margin: auto;
            @for $i from 1 through 4 {
                .history-#{$i} {
                    display: grid;
                    grid-template-columns: 20% 80%;
                    background-color: $grey-color;
                    padding: 20px;
                    margin-block:50px ;
                    position:relative;
                    .about-icon{
                        @include centering;
                    }

                    &:before{
                        font-weight: bold;
                        color:white;
                        font-size: 22px;
                        padding: 5px 10px;
                        position: absolute;
                        top:-20px;
                        left:-20px;
                        background-color: $blue-color;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: $red-color;
                        transform: translate(15px, 15px);
                        z-index: -1;
                    }
                }
            }

            .history-1 {
                &:before{
                    content: '1997'
                }
            }
            .history-2 {
                &:before{
                    content: '2000'
                }
            }
            .history-3 {
                &:before{
                    content: '2008'
                }
            }
            .history-4 {
                &:before{
                    content: '2021'
                }
            }
        }

        .about-achieved{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 20px;
            width:80%;
            margin:auto;
            padding-block: 20px;
            margin-top: 80px;
            border-block: 4px solid black;
            span{
                @include centering;
                font-size: 140px;
                font-weight: bold;
                color: $blue-color;
            }
            p{
                @include centering;
                font-size:22px;
                line-height: 1.5;
            }
        }
    }
    @media (max-width:1200px){
        .about-content {
            .about-history{
                width:50%;
            }
            .about-achieved{
                span{
                    font-size: 110px;
                }
                p{
                    font-size:19px;
                }
            }
}

}
    @media (max-width:992px){
        .about-content {
            .about-history{
                width:60%;
            }
            .about-achieved{
                grid-template-columns: 100%;
                grid-template-rows: auto auto;
                grid-row-gap: 20px;
                width:90%;
                padding-block: 15px;
                span{
                    font-size: 90px;
                }
                p{
                    font-size:20px;
                }
            }
}

}
    @media (max-width:768px){
        .about-content {
            .about-history{
                width:88%;
                @for $i from 1 through 4 {
                    .history-#{$i} {
                        grid-template-columns: 25% 75%;
                        &:before{
                            font-size: 20px;
                            padding: 3px 7px;
                        }
                        &:after{
                            transform: translate(8px, 8px);
                        }
                    }
                }
            }
}

}
}

.services {
    background-image: url('images/services.jpg');
    @include backgroundOptions;
    position: relative;
    height: 100vh;
    color:white;
    
    .overlay{
        @include overlay;
        background-color: #0055beab;

        .services-content {
            @include container(80%);
            display: grid;
            grid-template-columns: 49% 50%;
            @for $i from 1 through 6 {
                .service-#{$i}{
                    display: grid;
                    grid-template-columns: 30% 70%;
                    padding: 15px;
                    border-bottom: 2px solid rgb(255, 255, 255);
                    cursor: pointer;
                    transition: 0.6s all ease;

                    &:hover{
                        background-color: white;
                        transform: scale(1.04, 1.04);
                        border-radius: 10px;
                        color: $blue-color
                    }
                    .bg-icon{
                        @include centering;
                        @include circleIcon(100px, $blue-color);
                        i{
                            color:white;
                        }
                    }
                    .service-text {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        font-size: 26px;
                    }
                }
            }
            .service-2 , .service-3, .service-6{
                border-left: 2px solid rgb(255, 255, 255);
                .bg-icon{
                    @include circleIcon(100px, $red-color);
                }
        }
    }
    }
    @media (max-width:1200px){
        .overlay{
            .services-content {
                @include container(85%);
                grid-column-gap: 40px;
                @for $i from 1 through 6 {
                    .service-#{$i}{
                        grid-template-columns: 30% 70%;
                        grid-column-gap: 20px;
                        padding: 10px;
                        .bg-icon{
                            @include circleIcon(100px, $blue-color);
                        }
                        .service-text {
                            font-size: 22px;
                        }
                        
                    }
                }
                .service-2 , .service-4, .service-6{
                    border-left: none;
                    .bg-icon{
                        @include circleIcon(100px, $red-color);
                    }
            }
            .service-3{
                border-left: none;
            }
            }
            }
    }

    @media (max-width:768px){
        .overlay{
            .services-title {
                .title {
                margin-block:2rem;
                }
            }
            .services-content {
                @include container(90%);
                grid-template-columns: 100%;
                grid-template-rows: repeat(6, auto);
                @for $i from 1 through 6 {
                    .service-#{$i}{
                        grid-template-columns: 20% 80%;
                        grid-column-gap: 20px;
                        padding: 10px;
                        
                        .bg-icon{
                            @include circleIcon(70px, $blue-color);
                            i{
                                font-size: 26px;
                            }
                        }
                        
                    }
                }
                .service-2 , .service-4, .service-6{
                    border-left: none;
                    .bg-icon{
                        @include circleIcon(70px, $red-color);
                    }
            }
            .service-3{
                border-left: none;
            }
            }
            }
    }
    }



.our-team{
    .our-team-content{
        @include container(80%);
        display: grid;
        grid-template-columns: repeat(3 , calc(100% / 3));
        grid-template-rows: 50% 50%;
        grid-gap: 50px 25px;
        @for $i from 1 through 6 {
            .our-team-#{$i}{
                text-align: center;
                .our-team-image{
                    margin-bottom:10px;
                    img{
                        @include circle(80%);
                        padding: 10px;
                        transition: 0.3s all ease;
                         &:hover{
                            border: 5px solid $red-color;
                         }
                    }
                }

                .our-team-text{
                    line-height: 1.4;
                    h3 {
                        font-size: 26px;
                    }

                    p{
                        font-size: 22px;
                        color:grey;
                    }
                }
            }
        }
    }
    @media (max-width:992px) {
        .our-team-content{
            @include container(90%);
            grid-template-columns: repeat(2 , calc(100% / 2));
            grid-template-rows: repeat(3 , calc(100% / 3));
            margin-bottom: 50px;
        }
    }
    @media (max-width:768px) {
        .our-team-content{
            @include container(90%);
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6 , calc(100% / 6));
            margin-bottom: 250px;
            
            @for $i from 1 through 6 {
                .our-team-#{$i}{
                    .our-team-image{
                        margin-bottom:10px;
                        img{
                            @include circle(60%);
                            padding: 7px;
                             &:hover{
                                border: 7px solid $red-color;
                             }
                        }
                    }
                    .our-team-text{
                        h3 {
                            font-size: 24px;
                        }
                        p{
                            font-size: 20px;
                        }
                    }

                }
            }
        }

        
    }
    }


.contact{
    background-color: $grey-color;
    position: relative;
    .contact-content{
        @include container(45%);
        .input{
            margin-bottom: 20px;
            input{
                @include inputStyle;
            }
        }

        .text-area{
            textarea{
                @include inputStyle;
            }
        }

        .send-message {
            text-align: center;
            margin-top: 20px;
            button {
                padding: 15px 30px;
                border: none;
                font-size: 18px;
                border-radius: 30px;
                color:white;
                background-image: linear-gradient(to right, $blue-color, $red-color);
                transition: 0.4s all ease;
                cursor: pointer;
                &:hover{
                padding: 15px 40px;
                    
                }
            }
        }
        
        
}
.contact-traingle-1 {
    @include traingle(auto, auto, 50%, 38%);
        bottom: 0;
        background-color: $blue-color;
        clip-path: polygon(0 4%, 0% 100%, 100% 100%);

        .traingle-1-content {
            position: absolute;
            top:45%;
            left: 15%;
            color:white;
            text-align: center;
            font-size: 24px;
            line-height: 1.7;
        }
}
.contact-traingle-2 {
    @include traingle(auto, auto, 50%, 38%);
        bottom: 0;
        right:0;
        background-color: $red-color;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        .traingle-2-content {
            position: absolute;
            top:60%;
            right: 10%;
            color:white;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            line-height: 1.7;
        }
}
@media (max-width:1200px){
    .contact-content{
        @include container(60%);
        .send-message {
            button {
                padding: 12px 20px;
                border: none;
                font-size: 20px;;
                &:hover{
                padding: 12px 25px;
                }
            }
        }
}

.contact-traingle-1 {
    @include traingle(auto, auto, 25%, 45%);
        .traingle-1-content {
            top:30%;
            left: 10%;
            text-align: center;
            font-size: 16px;
        }
}
.contact-traingle-2 {
    @include traingle(auto, auto, 25%, 45%);
        .traingle-2-content {
            top:50%;
            right: 2%;
            font-size: 22px;
            line-height: 1.3;
        }
}
} 
@media (max-width:992px){
    .contact-content{
        @include container(70%);
        .send-message {
            button {
                padding: 12px 20px;
                border: none;
                font-size: 16px;;
                &:hover{
                padding: 12px 25px;
                }
            }
        }
}

.contact-traingle-1 {
    @include traingle(auto, auto, 25%, 45%);
        .traingle-1-content {
            top:30%;
            left: 10%;
            text-align: center;
            font-size: 16px;
        }
}
.contact-traingle-2 {
    @include traingle(auto, auto, 25%, 45%);
        .traingle-2-content {
            top:50%;
            right: 2%;
            font-size: 22px;
            line-height: 1.3;
        }
}
} 
@media (max-width:768px){

.contact-traingle-1 {
    @include traingle(auto, auto, 25%, 45%);
        .traingle-1-content {
            top:30%;
            left: 10%;
            text-align: start;
            font-size: 15px;
        }
}
.contact-traingle-2 {
    @include traingle(auto, auto, 20%, 45%);
        .traingle-2-content {
            top:50%;
            right: 2%;
            font-size: 12px;
            line-height: 1.3;
        }
}
} 

}

footer {
    background-color: white;
    padding-block: 20px;
    .footer-content {
        @include container(80%);
        display: flex;
        justify-content: space-between;
    }

    @media (max-width:992px) {
    padding-block: 10px;
    .footer-content {
        @include container(90%);
        display: flex;
        justify-content: space-between;
    }
    }
}