@use 'css/colors' as *;
@use 'css/mixins' as * ;

@font-face {
    font-family: font-regular;
    src: url('fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: font-bold;
    src: url("fonts/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: font-light;
    src: url("fonts/Ubuntu-Light.ttf");
}

//// classes

.container {
    @include container(80%);
}


.title {
    margin-block:5rem;
    font-size: 30px;
    @include centering;
    position: relative;
    padding-bottom: 10px;
    div{
        position: absolute;
        bottom: 0;
        left:47%;
        transform: translateX(-47%);
        width: 10%;
        height: 3px;
        background-color: $red-color;
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left:115%;
            width: 20%;
            height: 3px;
            background-color: $red-color;
        }
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left:150%;
            width: 5%;
            height: 3px;
            background-color: $red-color;
        }
    }
}

.my-section{
    padding-block:4rem;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: font-regular;
}
nav {
    .nav-header {
        padding-block: 20px 40px;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 9;
        .nav-logo{
            display: flex;
            align-items: center;

            .logo-text {
                margin-left: 15px;
                color: $red-color;
                font-size: 20px;
                font-family: font-bold !important;
                span {
                    font-family: font-bold !important;
                    margin-block: 5px;
                    color: $blue-color;
                    font-size: 24px;
                    letter-spacing: 5px;
                }
            }
        }

        .nav-contact{
            @include centering;
            flex-wrap: wrap;
            div {
                display: flex;
                align-items: center;
                width: 100%;
                i{
                    color:$blue-color;
                    margin-inline:5px
                }
            }
        }

        .nav-bar {
            position: absolute;
            bottom:-35px;
            @include inlineCenterByAbsolute;
            @include container(80%);
            background-color: $blue-color ;
            padding-block: 10px;
            border-radius: 20px;
            .nav-item {
                @include centering;
                width: 100%;
                
                ul {
                @include centering;
                    position: relative;
                    width: 100%;
                }
                li{
                    @include lists;
                    padding: 10px 35px;
                    font-weight: bold;
                    font-size: 19px;
                    color:white;
                    transition: 0.4s all ease;
                    border-radius: 35px;
                    cursor: pointer;
                    &:hover {
                        @include btnHover;
                    }
                    &:last-child {
                        background-color: white;
                        padding: 10px 20px;
                        border-radius: 20px;
                        color:$red-color;
                        position: absolute;
                        right: 40px;
                    }
                }
            }
        }
    }


}

header {
    z-index: 8;
    background-image: url('images/home.jpg');
    @include backgroundOptions;
    height: 90vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 71% 100%, 0 61%);
    .overlay {
        @include overlay;
        background-color: rgba($color: $red-color, $alpha: 0.6);
        
        .home-content {
            height: 100%;
            @include centering;
            text-align: center;
            color:white;
            font-size: 65px;
            .content {
                .home-item {
                    span {
                        font-weight: bold;
                        font-size: 70px;
                    }
                }

                button {
                    @include button(10px 25px,25px);
                    background-color: $blue-color;
                    font-size: 26px;
                    transition: 0.4s all ease;

                    &:hover {
                        @include btnHover;
                    }
                    i {
                        padding-inline: 5px 10px;
                    }
                }
            }
            
        }
    }
}

.home-traingle {
    @include traingle(0, 40%, 70%, 50%);
        background-color: $blue-color;
        clip-path: polygon(0 0, 0% 100%, 100% 48%);
}

.about{
    .about-content {
        .about-history{
            width:40%;
            margin: auto;
            @for $i from 1 through 4 {
                .history-#{$i} {
                    display: grid;
                    grid-template-columns: 20% 80%;
                    background-color: $grey-color;
                    padding: 20px;
                    margin-block:50px ;
                    position:relative;
                    .about-icon{
                        @include centering;
                    }

                    &:before{
                        font-weight: bold;
                        color:white;
                        font-size: 22px;
                        padding: 5px 10px;
                        position: absolute;
                        top:-20px;
                        left:-20px;
                        background-color: $blue-color;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: $red-color;
                        transform: translate(15px, 15px);
                        z-index: -1;
                    }
                }
            }

            .history-1 {
                &:before{
                    content: '1997'
                }
            }
            .history-2 {
                &:before{
                    content: '2000'
                }
            }
            .history-3 {
                &:before{
                    content: '2008'
                }
            }
            .history-4 {
                &:before{
                    content: '2021'
                }
            }


        }

        .about-achieved{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 20px;
            width:80%;
            margin:auto;
            padding-block: 20px;
            margin-top: 80px;
            border-block: 4px solid black;
            span{
                @include centering;
                font-size: 140px;
                font-weight: bold;
                color: $blue-color;
            }
            p{
                @include centering;
                font-size:22px;
                line-height: 1.5;
            }
        }
    }
}

.services {
    background-image: url('images/services.jpg');
    @include backgroundOptions;
    position: relative;
    height: 100vh;
    color:white;
    .overlay{
        @include overlay;
        background-color: #0055beab;

        .services-content {
            @include container(50%);
            display: grid;
            grid-template-columns: 49% 50%;
            @for $i from 1 through 6 {
                .service-#{$i}{
                    display: grid;
                    grid-template-columns: 30% 70%;
                    grid-column-gap: 20px;
                    padding: 15px;
                    border-bottom: 2px solid rgb(255, 255, 255);
                    cursor: pointer;
                    transition: 0.6s all ease;

                    &:hover{
                        background-color: white;
                        transform: scale(1.04, 1.04);
                        border-radius: 10px;
                        color: $blue-color
                    }
                    .bg-icon{
                        @include centering;
                        @include circleIcon(100px, $blue-color);
                        i{
                            color:white;
                        }
                    }
                    .service-text {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                    }
                }
            }
            .service-2 , .service-3, .service-6{
                border-left: 2px solid rgb(255, 255, 255);
                .bg-icon{
                    @include circleIcon(100px, $red-color);
                }
        }
    }
    }
    }


.our-team{
    .our-team-content{
        @include container(80%);
        display: grid;
        grid-template-columns: repeat(3 , calc(100% / 3));
        grid-template-rows: 50% 50%;
        grid-gap: 50px 25px;
        @for $i from 1 through 6 {
            .our-team-#{$i}{
                text-align: center;
                .our-team-image{
                    margin-bottom:10px;
                    img{
                        @include circle(80%);
                        padding: 10px;
                        transition: 0.3s all ease;
                         &:hover{
                            border: 5px solid $red-color;
                         }
                    }
                }
            }
        }
    }
    }


.contact{
    background-color: $grey-color;
    position: relative;
    .contact-content{
        @include container(30%);
        .input{
            margin-bottom: 20px;
            input{
                @include inputStyle;
            }
        }

        .text-area{
            textarea{
                @include inputStyle;
            }
        }

        .send-message {
            text-align: center;
            margin-top: 20px;
            button {
                padding: 15px 30px;
                border: none;
                font-size: 18px;
                border-radius: 30px;
                color:white;
                background-image: linear-gradient(to right, $blue-color, $red-color);
                transition: 0.4s all ease;
                cursor: pointer;
                &:hover{
                padding: 15px 40px;
                    
                }
            }
        }

        
}
.contact-traingle-1 {
    @include traingle(auto, auto, 60%, 40%);
        bottom: 0;
        background-color: $blue-color;
        clip-path: polygon(0 4%, 0% 100%, 100% 100%);

        .traingle-1-content {
            position: absolute;
            top:50%;
            left: 15%;
            color:white;
            text-align: center;
            font-size: 24px;
            line-height: 1.7;
        }
}
.contact-traingle-2 {
    @include traingle(auto, auto, 60%, 40%);
        bottom: 0;
        right:0;
        background-color: $red-color;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        .traingle-2-content {
            position: absolute;
            top:60%;
            right: 15%;
            color:white;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            line-height: 1.7;
        }
}
}

footer {
    background-color: white;
   
    padding-block: 20px;
    .footer-content {
        @include container(80%);
        display: flex;
        justify-content: space-between;
    }
}